html,
body,
#page-home {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-home,
#page-home * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#page-home .ui-content {
  height: inherit; /* inherit height without padding nor border */
}


.iayos-center{
  text-align: center;
}

.iayos-center * {
  margin: 0 auto;
}

.front, .back, .other-front, .other-back {
    border: 1px #f9f9f9 
;
 /*//   padding: 10px;*/
}

.front, .other-front {
    background-color: #e6ebf4 ;
}

.back, .other-back {
    background-color: #f9f9f9 ;
}

.flip .front {
    /*background: #2184cd;
    color: red;*/
    text-align: center;

    /*backface-visibility: hidden;
    transform-style: preserve-3d; 
    position: absolute; 
    z-index: 1; 
    height: 100%; 
    width: 100%; 
    transition: all 0.5s ease-out; 
    transform: rotateY(0deg);*/
}

.flip .back {
    /*background: #2184cd;
    color: #fff;*/
    text-align: center;
}

/*

.flip {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}

.flip img {
    width: 300px;
    height: auto;
}

*/