<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.net>
    <!-- set enabled to true to use the system default proxy -->
    <defaultProxy enabled="false" />
  </system.net>
  <system.web>
    <customErrors mode="Off" />
    <!-- <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization> -->
  </system.web>
  <system.webServer>

  <rewrite>
      <rules>
        <rule name="Redirect to non-www" stopProcessing="true">
          <match url="(.*)" negate="false"></match>
          <action type="Redirect" url="http://simplesuomi.com/{R:1}"></action>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^simplesuomi\.com$" negate="true"></add>
          </conditions>
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <!-- 
	Adds a Cache-Control: max-age=<nnn> header to the response based on the value specified in the CacheControlMaxAge attribute.
	Specifies the maximum age (in seconds) of the cache control value.
	The default value is 1.00:00:00 (1 day).
	-->
      <clientCache cacheControlMode="DisableCache" />
      <!-- In case IIS already has JSON mime type -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/javascript" />
      <!-- In case IIS already has WOFF mime type -->
      <remove fileExtension="woff" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <!-- In case IIS already has WOFF2 mime type -->
      <remove fileExtension="woff2" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>

</configuration>